@mixin tip {
   .tip {
      box-shadow: var(--color-mac-dropdown-box-shadow);
      background: var(--color-mac-dropdown-background);
      backdrop-filter: blur(20px);
      border: 1px solid var(--color-mac-dropdown-border-outline);
      border-radius: 4px;
      animation-duration: 0.25s !important;
      color: var(--color-mac-text-default);

      &:before {
         background: var(--color-mac-dropdown-background);
         color: var(--color-mac-text-default);
         animation-duration: 0.25s !important;
      }
   }
}
